table{
    background-color: yellow;
    margin: auto;
    border: 1px solid black;
    border-bottom-color: red;
    border-style: dotted;
    border-collapse: collapse;
}

table tr td{
    border: 1px solid black;
    border-style: dotted;
    width: 500px;
}

table .uno{
    border: none;
    text-align: center;
    color: red;
    font-weight: bold;
}

table .dos{
    text-align: left;
}
